@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap");

#customer-care-card {
  height: 427px;
  width: 583px;
  background-image: url("https://res.cloudinary.com/dy1bghrrm/image/upload/v1574873026/SkyTest/Customer_care.png");
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  background-color: #fff;
}

.customer-care {
  min-height: 114px;
  width: 245px;
  color: #231f20;
  font-size: 49px;
  font-weight: 800;
  line-height: 57px;
  text-align: left;
  padding-left: 60px;
  font-family: Raleway;
}

.item-details {
  height: 139px;
  width: 221px;
  margin-left: 60px;
  text-align: left;
  margin-top: 60px;
  z-index: 10;
  color: #121212;
  font-family: Raleway;	
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.num {
  margin-top: 20px;
  color: #231f20;
  font-size: 22px;
  font-weight: 700;
  width: 200px;
  text-align: left;
  margin-bottom: 20px;
}

.email {
  color: #231f20;
  font-weight: bold;
  line-height: 19px;
  width: 200px;
  margin-bottom: 20px;
}
.date-1 {
  color: #231f20;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
.date-2 {
  color: #231f20;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.get-started-button {
  padding: 1rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(73, 216, 241, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #05a398, #e3f7d8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  width: 230px;
  height: 56px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 360px;
  left: 66px;
  color: #48ffc8;
  font-weight: bold;
}

