.products{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    width: 300px;
    background-color:#55D187;
    margin:0 auto;
    border: none;
    margin-top: 20px;
    flex: 1;
}

.wrapper{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 0px;
}

.customer{
    display:flex;
    width: 100%;
    align-items: center;
    padding: 40px 0 10px;
}
.content-holder{
   display: flex;
   flex-wrap: wrap;
   width: 90%;
   margin: 0 auto;
}
